html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
}

.flex-header,
.flex-nav,
.flex-aside,
.flex-footer {
  text-align: center;
}

.flex-header,
.flex-nav,
.flex-aside,
.flex-footer,
.flex-section {
  padding: 20px;
}

.flex-header {
  background-color: tomato;
}

.flex-main {
  display: flex;
  flex: 1 1 auto;
}

.flex-nav {
  background-color: skyblue;
}

.flex-section {
  background-color: steelblue;
  flex: 3 3;
}

.flex-aside {
  background-color: thistle;
}

.flex-footer {
  background-color: slateblue;
}

@media all and (max-width: 700px) {
  .flex-main {
    flex-direction: column;
  }
}
