* {
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
}

.flex-header {
  background-color: tomato;
  text-align: center;
}

.flex-main {
  display: flex;
  flex: 1 1 auto;
}

.flex-nav {
  background-color: skyblue;
}

.flex-article {
  background-color: steelblue;
  flex: 3 3;
}

.flex-aside {
  background-color: thistle;
}

.flex-footer {
  background-color: slateblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

@media all and (max-width: 700px) {
  .flex-main {
    flex-direction: column;
  }
}
