html,
body {
  height: 100%;
}

.wrapper {
  font-size: 24px;
  color: white;
  margin: 0 auto;
  min-height: 100%;
}

.wrapper:after {
  display: block;
  clear: both;
}

.float-header {
  background-color: tomato;
  height: 50px;
}

.float-main {
  display: block;
}

.float-nav {
  background-color: skyblue;
}

.float-section {
  background-color: steelblue;
}

.float-section h1,
.float-section p {
  text-align: left;
  height: auto;
}

.float-aside {
  background-color: thistle;
}

.float-footer {
  background-color: slateblue;
  height: 50px;
  position: fixed;
  Width: 100%;
  bottom: 0;
}

.float-nav,
.float-section,
.float-aside {
  padding: 20px;
}

.float-header,
.float-nav,
.float-aside,
.float-footer {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .float-main {
    display: block;
  }

  .float-header {
    Width: 100%;
  }

  .float-nav,
  .float-aside {
    width: 15%;
    margin-top: 1%;
  }

  /* .float-nav {
    margin-right: 1%;
  } */

  /* .float-aside {
    margin-left: 1%;
  }
 */
  .float-section {
    width: 62%;
    margin-top: 1%;
  }

  .float-nav,
  .float-aside,
  .float-section {
    float: left;
    padding: 1%;
    text-align: center;
  }
  .float-aside {
    float: right;
  }

  .float-section {
    height: auto;
  }
  .float-footer {
    Width: 100%;
  }
}
